{{#if dismissible}}
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">{{lang.close}}</span>
  </button>
{{/if}}
<strong>{{title}}</strong> {{body}}
