.application {
  padding-top: 51px;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // move this into books
  .items.thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .grid-item {
      flex: 0 1 auto;
      margin: 5px;

      .img-thumbnail {
        // use min & max to prevent skew
        max-height: 150px;
        min-height: 150px;
        // min-width: 150px;

        &.default {
          height: 150px;
          width: 100px;

          background-color: #ddd;
          background-clip: content-box;
        }
      }

    }
  }
}

#nprogress {
  .bar {
    background-color: @brand-danger;
  }

  .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  }
}
